img.rounded-corners {
    border-radius: 20px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: auto;
}
img.rounded-corners-big {
    border-radius: 20px;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: auto;
}
.row {
    display: flex;
}

.grow img {
    transition: 1s ease;
}

.grow img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.navigation {
    margin-left: 100px;
    margin-top: 20px;
    font-family: montserrat;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(27, 26, 26);
}

.block {
    margin-left: 40px;
    font-family: montserrat;
    font-weight: bold;
    font-size: 160%;
}

figcaption {
    font-family: montserrat;
    text-align: center;
}
